<%=hair%>, very hip what colors eys do u have
<form method = "post" action = "/eye">
<input type = "hidden" name="user_name" value=<%=name%>>
<input type = "hidden" name="age" value=<%=age%>>
<input type = "hidden" name="hair" value=<%=hair%>>
	<input type="text" name="eye"> 
<input type="submit">
</form>