Wow <%=age%> oldie,what kind of hair do you have <%=name%>
<form method = "post" action = "/hair">
<input type = "hidden" name="user_name" value=<%=name%>>
<input type = "hidden" name="age" value=<%=age%>>
	<input type="text" name="hair"> 
<input type="submit">
</form>